body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  .btn-show-pass {
    border: none;
    background: transparent;
    color: #555;
    cursor: pointer;
  }
  .btn-show-pass .icon {
    transition: all .3s;
}

  